@keyframes modalEnterBounce {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-300px);
    }

    60% {
        opacity: 1;
        transform: scale(1.05) translateY(20px);
    }

    80% {
        transform: scale(0.98) translateY(-10px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes modalExitFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.7) translateY(100px);
    }
}

.modal.fade.show {
    display: block;
    opacity: 1;
    animation: modalEnterBounce 0.6s ease forwards;
}

.modal.fade:not(.show) {
    animation: modalExitFadeOut 0.5s ease forwards;
}

.pokemon-image {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 3px solid #007bff;
    background-color: #fff;
}

.modal-content {
    background-color: #d6d76f;
    border: 3px solid #ff8c00;
    border-radius: 20px;
    transform-origin: center;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #007bff;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 32% 0%;
    padding: 5px;
}

.modal-body {
    font-size: 1.2rem;
    color: #333;
}

.btn-close {
    background-color: #ff8c00;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

    .btn-close:hover {
        background-color: #ffcc00;
    }

.list-group-item {
    background-color: #ffe680;
    padding: 0.1rem 1rem;
}

.badge {
    font-size: 1rem;
}

.mythical {
    background: linear-gradient(135deg, #6a0dad, #ff0066, #33ccff, #00ff99);
    background-size: 300% 300%;
    animation: mythicalGradient 6s ease infinite;
}

.legendary {
    background: linear-gradient(45deg, #815806, #fad58b, #d1ac62, #b07602);
    background-size: 300% 300%;
    animation: legendaryGradient 6s ease infinite;
}

.shiny-text-mythical {
    font-weight: bold;
    color: white !important;
    background: linear-gradient(to right, #27299d, #7879d9);
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
    position: relative;
    display: inline-block;
    overflow: hidden;
}
    .shiny-text-mythical::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
        transform: skewX(-20deg);
        animation: shine 3s infinite;
    }
.shiny-text-legendary {
    font-weight: bold;
    color: #27299d !important;
    background: linear-gradient(to right, #b1d9b1, #8e7f43);
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
    position: relative;
    display: inline-block;
    overflow: hidden;
}
    .shiny-text-legendary::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
        transform: skewX(-20deg);
        animation: shine 3s infinite;
    }



@keyframes shine {
    0% {
        left: -100%;
    }

    50% {
        left: 130%;
    }

    100% {
        left: 130%;
    }
}

@keyframes mythicalGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes legendaryGradient {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}