@page "/"
@using PokemonKotas.Web.Components

<PageTitle>Home</PageTitle>

<h1 class="text-center my-4">Pokédex</h1>

<div class="search-container">
    <div class="input-group search-box">
        <input type="text" class="form-control" placeholder="Search Pokémon..." id="search">
        <button class="btn btn-primary" type="button">Search</button>
    </div>
</div>

<div class="pokedex row">
    <div class="pokemon-card" data-bs-toggle="modal" data-bs-target="#pokemonModal" @onclick="ShowPokemonModal">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
        <h5>Bulbasaur</h5>
    </div>
    <div class="pokemon-card" data-bs-toggle="modal" data-bs-target="#pokemonModal" @onclick="ShowPokemonModal">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="Charmander">
        <h5>Charmander</h5>
    </div>
    <div class="pokemon-card" data-bs-toggle="modal" data-bs-target="#pokemonModal" @onclick="ShowPokemonModal">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="Squirtle">
        <h5>Squirtle</h5>
    </div>
    <!-- Add more Pokémon here -->
</div>

<PokemonModal @ref="_pokemonModal" PokemonName="Pikachu" ImageUrl="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" Attacks="@(new List<string> { "Thunder Shock", "Quick Attack", "Iron Tail", "Electro Ball" })" />


<ul class="pagination">
    <li class="disabled"><a href="#">Previous</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
</ul>

<div class="modal fade" id="pokemonModal" tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pokemonModalLabel">Pokémon Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 id="pokemonName"></h4>
                <p><strong>ID:</strong> <span id="pokemonId"></span></p>
                <p><strong>Type:</strong> <span id="pokemonType"></span></p>
            </div>
        </div>
    </div>
</div>

@code
{
    private PokemonModal? _pokemonModal;

    /// <summary>
    /// Displays the Pokémon modal by setting the visibility of the modal to true.
    /// </summary>
    public void ShowPokemonModal()
    {
        _pokemonModal?.ShowModal();
    }
}
